/*#ffb7c5*/
/*#a5dee5*/
/*#ffedd3*/
/*#f7d9c4*/
/*#3d405b*/
:root {
    --dark-pink: hsl(348.33, 100%, 70%);
    --pink: hsl(348.33, 100%, 88%);
    --dark-blue: hsl(186.56, 55.17%, 50%);
    --blue: hsl(186.56, 55.17%, 77.25%);
    --dark-yellow: hsl(35.45, 100%, 81.37%);
    --yellow: hsl(35.45, 100%, 91.37%);
    --dark-tan: hsl(24.71, 76.12%, 86.86%);
    --tan: hsl(24.71, 76.12%, 86.86%);
    --lightest: rgba(61,64,91, 0.10);
    --light: rgba(61,64,91, 0.25);
    --med: rgba(61,64,91, 0.5);
    --dark-gray: rgb(61,64,91);
}

body {
    background-color: #fcfcfc;
}

header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#tile-areas {
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}
#tile-circles {
    border: 2px solid var(--lightest);
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}
.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid var(--light);
    background-color: var(--lightest);
    position: relative;
}
.tile {
    width: 30px;
    height: 30px;
    position: absolute;
}
.dark-pink {
    top: 25px;
    right: 20px;
    background-color: var(--dark-pink);
}
.dark-blue {
    bottom: 25px;
    left: 22px;
    background-color: var(--dark-blue);
}
.dark-yellow {
    top: 24px;
    left: 23px;
    background-color: var(--dark-yellow);
}
.dark-tan {
    bottom: 26px;
    right: 19px;
    background-color: var(--dark-tan);
}
.dark-gray {
    bottom: 50px;
    right: 50px;
    background-color: var(--dark-gray);
}