/*#ffb7c5*/
/*#a5dee5*/
/*#ffedd3*/
/*#f7d9c4*/
/*#3d405b*/
:root {
    /* pink */
    --dark-pink: hsl(348.33, 100%, 50%);
    --pink: hsl(348.33, 55.17%, 90%);
    /* blue */
    --dark-blue: hsl(186.56, 100%, 50%);
    --blue: hsl(186.56, 55.17%, 90%);
    /* yellow */
    --dark-yellow: hsl(35.45, 100%, 50%);
    --yellow: hsl(35.45, 100%, 90%);
    /* tan */
    --dark-tan: hsl(24.71, 100%, 50%);
    --tan: hsl(24.71, 76.12%, 85%);
    /* light gray */
    --lightest: rgba(61,64,91, 0.05);
    --light: rgba(61,64,91, 0.20);
    /* dark gray */
    --med: rgba(61,64,91, 0.3);
    --dark-gray: rgb(61,64,91);
}

body {
    background-color: #fcfcfc;
    font-family: sans-serif;
}

header {
    text-align: center;
    margin-bottom: 1em;
}
h1, h2, h3, h4, h5, h6 {
    padding: .25em;
}
#boards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tileAreas {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
#tileCircles {
    border: 2px solid var(--lightest);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}
.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid var(--light);
    background-color: var(--lightest);
    position: relative;
}
/* tile size 50px */
.tile {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: .95;
}
.dark-pink {
    background-color: var(--dark-pink);
}
.dark-blue {
    background-color: var(--dark-blue);
}
.dark-yellow {
    background-color: var(--dark-yellow);
}
.dark-tan {
    background-color: var(--dark-tan);
}
.dark-gray {
    background-color: var(--dark-gray);
}

#gameButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#gameButtons button:hover {
    cursor: pointer;
}
.board {
    padding: 1em;
}
#player1, #player2 {
    transition: opacity 0.3s ease-in-out;
    border: 3px solid var(--light);
    border-radius: 1em;
    background-color: var(--lightest);
    margin-bottom: 2em;
}
#player1.current-turn, #player2.current-turn  {
    border: 3px solid var(--dark-gray);
    border-radius: 1em;
    opacity: 1; /* Ensure the active player is fully visible */
}
.inactive {
    opacity: 0.5; /* Reduce visibility for inactive player */
}

.selected {
    border: 3px solid white;
    opacity: 1;
}

button {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#moveTilesToGameboard {
    background-color: lightblue;
}

#moveTilesToScoreboard {
    background-color: lightgreen;
}

#dealTilesButton {
    background-color: pink;
}
#floor {
    position: relative;
    border: 1px solid var(--light);
    background-color: var(--lightest);
    height: 200px;
}

#gameScore {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--lightest);
    border-radius: 1em;
    width: 80%;
    margin: 0 auto 1em;
    padding: 1em;
}

#gameScore .statSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em;
}

.round {
    border-radius: 50%;
    padding: .5em .75em;
    font-weight: bold;
    margin: .25em;
}
.roundLight {
    border: 1px solid var(--light);
    background-color: var(--lightest);
}

.roundDark {
    color: white;
    border: 1px solid var(--med);
    background-color: var(--dark-gray);
}
#gameOver {
    padding: .5em;
}

#howToPlayButton {
    margin-top: 1em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: 3em;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    line-height: 2em;
}

.modal-content .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close {
    border-radius: 10px;
    padding:  .25em .5em;
    margin-top: .25em;
    font-size: 3em;
}

